language: scala

scala:
- 2.11.4

jdk:
- oraclejdk8

addons:
  apt:
    packages:
    - oracle-java8-installer
sudo: false

branches:
  only:
  - master
  - "/^[0-9]+\\.[0-9]+\\.[0-9]+$/"

cache:
  directories:
  - "$HOME/.m2"

before_install:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && echo "Not a PR Build" && [ "IS_${TRAVIS_TAG}" != "IS_" ] && echo "Is tag build $TRAVIS_TAG" || echo "."'
- '[ "IS_${TRAVIS_TAG}" != "IS_" ] && mvn versions:set -DnewVersion=$TRAVIS_TAG || true'

install:
- mvn clean install -Dmaven.javadoc.skip=true -B -V

before_script:
- test "$TRAVIS_PULL_REQUEST" == "false" && git clone -b travis `git config --get remote.origin.url` target/travis || true

script:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && echo "Deploying..." && mvn deploy --settings target/travis/settings.xml || echo "Testing..." && mvn test -B'

after_success:
- '[ "$TRAVIS_TAG" != "" ] && mvn site-deploy -P github-site -Dgithub.global.oauth2Token=$GITHUB_TOKEN || true'
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "$TRAVIS_TAG" = "" ] && mvn scoverage:report coveralls:report || true'

env:
  global:
  - MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=256m"
  - secure: AF3U7dIHx3ZRkRCEoEhx9OxMgX9m8PHT/y+3gBnftc4EEjlGBguI6N5991Y4uI8a18DhbSktw37IL+Fh/w3HkU9SlfmCn748SUJOihMz1RtTdwYVKFHTxz19XL5CaRBM3Wda42pXvvSde7BVt9f2Cn7aUI5qULZSS/7P0iyEr6mGZqRC8BVRBDJ9Mqq5P1bDlwN6iRP+L7by6bIrx1Y/nnh7OAnGwQPUffVgnyVlxYnYrW7mnjF7o49GyJWrgc2ep7z3bDCcDrt5E+oKUfsi+foA2dHdsc50B1p7KEpDnhf0560NBrS4otf9IFIqg05elIunjPEBfaXwMb2ky52y+/VmCgREHj0VYEP8gKPDcHghtAnHe4w0Au+Jkb/tzyF1I4S/vxlRgjQUKaXbdbhfQzOnAih38KMKS5kQBHwgZUnyi8e2ngubQKYbEvsjXQQx7v93y756SclFsFNZJET+HGPtiuTkbUmyjQLgMayeiF0Sn2QAxGnbuMOtGFlfuBysTf6PjdD+NvpUH0aSpHs6vJv/yP8uG/pmfZ84/+RB9otizlNdxz6k5SQ1bK4AppJ+k+4v+iRaeD3X+MHZOKt7NvxoYsebKauXldmfy8pKJAxNy+yAiWbuw9i6s9FA8hvaE7rooNHAnRvgKiPR3gnGn8g+2B5llY9aJj4s35B6hE4=
  - secure: dv0EapSRzJTf6JG6btMEMhw4p0S4pXcqY1+mT7rUG3WCMua5S8rXR4PFIS1stbuKwnfZZ1yz+q7pU1q9LiS4P3egvQIkZg/y2VhyuCfmyZLfyPyNgw/lWaDZiO8pr2HxQYlR84scedXrIXa0cT+2Rss/KclZxmrRz18YP3DToeqcv9wj05W389Ubc8njFzpZT1kzmblvGMTcIwmlVTZJ1Ygr+zyiaZH471nX75zKVDo4/mbTyWHBnpG0Ln9k/6M8rvLJHTAPxopy/ZsgSx474Q9VVaWBviJA6zV6aaUeVMXUg0+vSDD0vC0qgPgJIanl/rIgwluUpKQylTNfyS/PwJPHaSF2LooCDm+fjIJU+C5DzKMaUctGfb6qGCwmEg5Ubl5BwBKv+EVEu7mt7hCTkvrwvpuEMg8Bf7uWdf7Y9IVX3YoHvdtywOYIU2YF+xi1dBf4ITNqbi8B2GxrWBRQJRP6eYiQiMkeJ2/dg7pnSZo+nefxtWG6ikND6AVZtnIDFnZYBCGrW6hU5UcV6ZjChk6Is5XxlpXXXFDPWTRwFZRHeeJH7ub5lxt7WdK+AlVvT49i8wQNHNI13+kL0jdmn1SPvrDn1u8VM8ORa8gQdZeJoKulSK1QGD5vqpx5IAOUExXUOVGR8oHnuVzLdFCW41mm3f+p3W1GjPgxPRXciXU=
  - secure: PkMB7m0KJKuTaMugmCy/vQT3tr1kNT7l+KKI+qcreZZ9p60wUagcK4rb85DA8yLPi/E29c5tWhd/tld9Px4grAdh580WSTfdgTvT39w556TI/zmBZtmVx/Yx/LHKtwm5pSUpLUiJTS2AnJTeQyQUXszZuXImSVgkn9GTCwekjU/QzIRPkoQdyU9lWsyBXS1RBQ91m0pZR760kRN5Iu3nrCsNrrDTDbmtZznIcuV34xlb56DOWCDDmB6tzwBiMXmgrGX5WcvefSe1olPUGN2RT2D237tzoXoj9MGAYHoBXLeCLSI5lPPtXdDy5Rhvps+yrBCTTCCpKmuvTVPjFhmfpsKF5CWLqrArTjb3dRnt2Cg6Sq5CL63/tgT7RuXHPNI+cMh9KRMij4ygYkLqAtsTZsN3BEHfwxsWVP88iCDxCyZvjFTZTqp+jem0CL9tbHVWweTDDKAWrmSK5LFH2f+dn/1fzKpWcjdPXePJVXb0ZUWJc9txdrEng1ijSrWLazJESuB4hBTM51YgV7AxNNDX4Qimw7E1hoDy9bD41lgt36Js0fVOT9CIWTXEBpvHcsFd4jotTbJefXvYPyqusnTAtaE+3W4QK3buuyLuXMj8ZHljgBtQyNOiv2IB5gnWwpnpGHS+nMQ7/PDgnAtd0t1/+NZtlV5NogiAiDx53MK9icU=
